/*
* Prefixed by https://autoprefixer.github.io
* PostCSS: v8.3.6,
* Autoprefixer: v10.3.1
* Browsers: last 4 version
*/

* {
    padding: 0;
    margin: 0;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    outline: none;
}

body {
    width: 100vw;
    height: 100vh;
    background:#eee;
}

a, a:active, a:hover {
    text-decoration: none;
}

nav {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: distribute;
        justify-content: space-around;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    padding: 10px;
    -webkit-box-shadow: 0px 0px 20px 0px rgba(0, 0, 0, .4);
            box-shadow: 0px 0px 20px 0px rgba(0, 0, 0, .4);
    background: white;
    border-bottom: 3px solid black;
}

nav a {
    font-size: 20px;
    color: black;
    font-weight: 800;
    cursor:pointer;
}

section {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    height:90vh;
}

button {
    color: black;
    border: 3px solid black;
    background: white;
    padding: 10px;
    font-weight: 800;
    font-size: 20px;
    margin:10px;
}

h1 {
    color: black;
    border: 3px solid black;
    background: white;
    padding: 10px;
    font-weight: 800;
    font-size: 20px;
    text-align: center;
    width: 250px;
    margin:10px;
}

#color{
    width:20vw;
    height:20vw;
    border:3px solid black;
}